{% extends 'layout.html.twig' %}

{% block title %}
    Login ! | {{ parent() }}
{% endblock %}

{% block main %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <form method="post">
        <label for="username">Username :</label>
        <input type="text" name="_username" id="username">

        <label for="pwd">Mot de passe :</label>
        <input type="password" name="_password" id="pwd">

        <button type="submit">Login !</button>
    </form>
{% endblock %}